
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h3 {
    color: #0056b3;
    font-weight: bold;
}

.lead {
    font-size: 1.1rem;
    color: #6c757d;
}

.accordion-button {
    background-color: #e9ecef;
    color: #495057;
    border: 1px solid #ccc;
    font-weight: bold;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-body {
    background-color: #f8f9fa;
    color: #495057;
}

.accordion-item {
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #0056b3;
    border-color: #0056b3;
    padding: 10px 20px;
    font-size: 1rem;
}

.btn-primary:hover {
    background-color: #004085;
    border-color: #003366;
}

.link-primary {
    color: #0056b3;
    text-decoration: none;
}

.link-primary:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 10px;
}

.contact-info {
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-info ul {
    padding-left: 20px;
}
footer{
    color: #0056b3;
    text-align: center;
}