
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    background-image: url(../media/vaultx\ logo1902\ \(2\).gif);
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h3 {
    color: #0056b3;
    font-weight: bold;
}

.lead {
    font-size: 1.1rem;
    color: #6c757d;
}

.btn-primary {
    background-color: #0056b3;
    border-color: #0056b3;
    padding: 10px 20px;
    font-size: 1rem;
}

.btn-primary:hover {
    background-color: #004085;
    border-color: #003366;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.alert {
    display: none;
    margin-top: 20px;
}

.dropdown-menu {
    min-width: 150px;
}

.mt-3 {
    margin-top: 20px;
}
footer{
    text-align: center;
    color: blue;
}
