body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h3 {
    color: #0056b3;
    font-weight: bold;
}

.lead {
    font-size: 1.1rem;
    color: #6c757d;
}

.btn-primary {
    background-color: #0056b3;
    border-color: #0056b3;
    padding: 10px 20px;
    font-size: 1rem;
}

.btn-primary:hover {
    background-color: #004085;
    border-color: #003366;
}

.input-group {
    margin-bottom: 15px;
}

.alert {
    display: none;
    margin-top: 20px;
}
::placeholder{
    font-style: italic;
}
footer{
    text-align: center;
    color: blue;
}
