
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    background-image: url(../media/vaultx\ logo1902\ \(2\).gif);
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-bottom: 5px;
}

.btn-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}
footer{
    text-align: center;
    color: blue;
    padding-top: 90%;
    
}
