/* General styling */
body {
    font-family: Arial, sans-serif;
    background-image: url(../media/carGit.gif);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: auto;} 

.container {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    max-height: 90vh; 
    overflow-y: auto; 
}

h2, h3 {
    text-align: center;
    color: #333;
}

label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="file"] {
    border: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
        max-height: none;
    }
}
footer{
    text-align: center;
    color: blue;
    padding-top: 15px;
}
h1{
    text-align: center;
    color: blue;
}
    /* Basic CSS to make the video full-screen background */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  
  #bg-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    z-index: -1;
  }
  
